/* the shapping of text */
body
{
    width: 100%;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
}

p
{
    text-indent: 20px;
}

/* Zigzag */

.zigzag
{
    width: 100%;
    min-height: 150px;
    position: relative;
    background: #ff6666;
}

.zigzag:before
{
    min-height: 180px;
    content: '';
    position: absolute;
    /*bottom: 0;
    left: 0:*/
    width: 100%;
    height: 15px;
    display: block;
    background: linear-gradient(
        -45deg, transparent 30%, 
        #ff6666 30%, #ff6666 60%, 
        transparent 60%
        ),
        linear-gradient(
        45deg, transparent 30%, 
        #ff6666 30%, #ff6666 60%, 
        transparent 60%
        );
    background-size: 30px 60px;
    transform: rotateX(180deg);
}

/* upadtes post */

img
{
  vertical-align:middle;
}

.post-image
{
    text-align: center;
    margin-left: 200px;
    margin-right: 20px;
    float: left;
}

.post-title
{
    height: 15px;
    width: 50%;
    text-align: left;
    margin-left: 500px;
}

.post-date
{
    color: #666;
    font-size: 1em;
    font-weight: 400;
    margin: 10px 0;
    text-decoration: none;
    text-align: left;
    margin-left: 500px;
}

.post-text .post-copy
{
    font-size: 1em;
    text-align: justify;
    margin-left: 500px;
    padding-top: 10px;
    width: 45%;
    height: 150px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 2px;
}

/* menu of top */
nav a
{
    color: rgb(240, 240, 240);
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-table;
    text-decoration: none;
    padding: 13px 0px;
    width: 156px;
}

nav #a1 
{
    color: rgb(240, 240, 240);
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-table;
    text-decoration: none;
    padding: 13px 0px;
    width: 110px;
    float: right;
}

nav li :hover
{
    background-color: cadetblue;
}

nav li1 :hover
{
    background-color: cadetblue;
}

nav
{
    width: 100%;
    background-color: rgba(10,10,10, 0.5);
    position: static; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
}

nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li
{
    list-style-type: none;
    float: left;
}

nav li1
{
    list-style-type: none;
    float: right;
}


/* menu of bottom (footer) */

.footer-menu
{
    clear: both;
    position: relative;
    height: 80px;
    margin-top: -40px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    background-color: rgba(0,0,0,0.8);
}

.footer-menu ul
{
    margin: 0px;
    padding: 0px;
    text-align:center;
}

.footer-menu ul li
{
    display: inline-block;
    margin: 13px 20px;
}

.footer-menu ul li a
{
    font-family: 'Laila', sans-serif;
    font-size: 15ox;
    font-weight: 600;
    color: burlywood;
    text-transform: uppercase;
}

.footer-menu ul li a1
{
    font-family: 'Laila', sans-serif;
    font-size: 15ox;
    font-weight: 600;
    color: #ff6666;
    text-transform: uppercase;
}

/* anchor button which allows to go back on top  */

a#cRetour
{
    border-radius:12px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.3);
    position:fixed;
    right:90px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#cRetour:before
{ 
    content: "\25b2"; 
}

a#cRetour:hover
{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.3s;
}

a#cRetour.cInvisible
{
    bottom:-30px;
    opacity:0;
    transition:all ease-in 0.5s;
}

a#cRetour.cVisible
{
    bottom:100px;
    opacity:1;
}