/* this file allow some dynamics effects on the web site */

/* the shapping of text */
body
{
    text-align: justify;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
}

p
{
    text-indent: 20px;
}

/* menu of top */
nav a
{
    color: rgb(240, 240, 240);
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-table;
    text-decoration: none;
    padding: 13px 0px;
    width: 156px;
}

nav #a1 
{
    color: rgb(240, 240, 240);
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-table;
    text-decoration: none;
    padding: 13px 0px;
    width: 110px;
    float: right;
}

nav li :hover
{
    background-color: cadetblue;
}

nav li1 :hover
{
    background-color: cadetblue;
}

nav
{
    width: 100%;
    background-color: rgba(10,10,10, 0.5);
    position: static;
    width: 100%;
    top: 0; /* At the top */
}

nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li
{
    list-style-type: none;
    float: left;
}

nav li1
{
    list-style-type: none;
    float: right;
}

/* links posts */

img 
{
  vertical-align: middle;
}

.post-image-left
{
    position: relative;
    display: inline;
    margin-left: 25%;
    margin-bottom: 50px;
    float: left;
}

.post-image-right
{
    position: relative;
    display: inline;
    margin-right: 25%;
    margin-bottom: 50px;
    float: right;
}

.post-image-center
{
    position: relative;
    display: inline;
    margin-left: 43%;
    margin-bottom: 50px;
    float: left;
}

.post-text
{
    text-align: center;
    font-size: 1em;
    margin-left: 550px;
    padding-top: 25px;
    width: 30%;
    height: auto;
}

/* Display text on picture */

.overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #cc0052;
}

.post-image-left:hover .overlay
{
    opacity: 0.9;
}

.post-image-right:hover .overlay
{
    opacity: 0.9;
}

.post-image-center:hover .overlay
{
    opacity: 0.9;
}

.text 
{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* menu of bottom (footer) */

.footer-menu
{
    clear: both;
    position: relative;
    height: 80px;
    margin-top: -40px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    background-color: rgba(0,0,0,0.8);
}

.footer-menu ul
{
    margin: 0px;
    padding: 0px;
    text-align:center;
}

.footer-menu ul li
{
    display: inline-block;
    margin: 13px 20px;
}

.footer-menu ul li a
{
    font-family: 'Laila', sans-serif;
    font-size: 15ox;
    font-weight: 600;
    color: burlywood;
    text-transform: uppercase;
}

.footer-menu ul li b
{
    font-family: 'Laila', sans-serif;
    font-size: 15ox;
    font-weight: 600;
    color: #ff6666;
    text-transform: uppercase;
}

/* anchor button which allows to go back on top  */

a#cRetour
{
    border-radius:12px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.3);
    position:fixed;
    right:90px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#cRetour:before
{ 
    content: "\25b2"; 
}

a#cRetour:hover
{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.3s;
}

a#cRetour.cInvisible
{
    bottom:-30px;
    opacity:0;
    transition:all ease-in 0.5s;
}

a#cRetour.cVisible
{
    bottom:100px;
    opacity:1;
}