/* this file allow some dynamics effects on the web site there : connexion.html and login.html */

/* the shapping of the page */
body
{
    text-align: justify;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
}

.box
{
    width: 300px;
    padding:20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(180,0,0, 0.05);
    border-style: solid;
    border width: 5px;
    border-color: darkgrey;
    text-align: center;
}

.box input[type="text"], .box input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(180,160,180, 0.3);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid darkgrey;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

/* menu of top */
nav a
{
    color: rgb(240, 240, 240);
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-table;
    text-decoration: none;
    padding: 13px 0px;
    width: 156px;
}

nav #a1 
{
    color: rgb(240, 240, 240);
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-table;
    text-decoration: none;
    padding: 13px 0px;
    width: 110px;
    float: right;
}

nav li :hover
{
    background-color: cadetblue;
}

nav li1 :hover
{
    background-color: cadetblue;
}

nav
{
    width: 100%;
    background-color: rgba(10,10,10, 0.5);
    position: sticky; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
}

nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li
{
    list-style-type: none;
    float: left;
}

nav li1
{
    list-style-type: none;
    float: right;
}

/* menu of bottom (footer) */

.footer-menu
{
    clear: both;
    position: absolute;
    height: 80px;
    margin-top: -40px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.footer-menu ul
{
    margin: 0px;
    padding: 0px;
    text-align:center;
}

.footer-menu ul li
{
    display: inline-block;
    margin: 13px 20px;
}

.footer-menu ul li a
{
    font-family: 'Laila', sans-serif;
    font-size: 15ox;
    font-weight: 600;
    color: burlywood;
    text-transform: uppercase;
}